.toolbar > .content-delete-button {
  margin-left: auto;
  background-color: @input-dark-red;

  span {
    color: @admin-white;
  }

  &:hover:not(:disabled) {
    background-color: @input-red-text;
    span {
      color: @admin-white;
    }
  }
}
